body{
    background-color: azure;
}
.calborder{
    border: solid black;
    border-radius: 5px;
    background-color: white;
    width:500px;
    height: 500px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

._lcdinput{

    width: 100%;
    height:50px;
    background-color: #bccd95;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 5px;
}
.keys{
    width: 100%;
    margin:auto;
    padding-bottom: 20px;
    padding-left: 18px;
    padding-right:18px;
}
.key{
    width: 75px;
    vertical-align: middle;
    height: 50px;
    text-align: center;
    margin-bottom: 5px;
    
}